<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.system.mapper.UserMapper">

    <!-- 根据用户名查询用户 -->
    <select id="selectByUsername" resultType="com.library.system.entity.User">
        SELECT * FROM sys_user
        WHERE username = #{username} AND deleted = 0
    </select>

    <!-- 根据读者卡号查询用户 -->
    <select id="selectByCardNumber" resultType="com.library.system.entity.User">
        SELECT * FROM sys_user
        WHERE card_number = #{cardNumber} AND deleted = 0
    </select>

</mapper>
