@use './mixins.scss' as *;

.hidden-mobile,
.ls-hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.hidden-tablet,
.ls-hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.hidden-desktop,
.ls-hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.show-mobile,
.ls-show-mobile {
  display: none !important;
  @include mobile {
    display: revert !important;
  }
}

.show-tablet,
.ls-show-tablet {
  display: none !important;
  @include tablet {
    display: revert !important;
  }
}

.show-desktop,
.ls-show-desktop {
  display: none !important;
  @include desktop {
    display: revert !important;
  }
}
